body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(29, 28, 35);
}
header {
  color: rgb(255, 244, 244);
  padding: 10px 0;
  display: flex;
}

#gallery {
  column-count: 3; /* 3개의 컬럼으로 배치 */
  column-gap: 10px; /* 컬럼 간격 */
}

#gallery img {
  width: 100%; /* 각 컬럼에 꽉 차게 */
  break-inside: avoid; /* 사진이 컬럼 중간에서 잘리지 않도록 */
  margin-bottom: 10px;
  border-radius: 8px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

img:hover {
  transform: scale(1.05);
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}
/* 확대 이미지 모달 */
#imageModal .modal-content {
  width: auto;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

#modalImage {
  width: 100%;
  height: auto;
  max-height: 80vh;
  border-radius: 8px;
}
#uploadBtn {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
#password {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
}
#fileInput {
  margin: 5px;
  padding: 10px;
}
#submitBtn {
  margin: 5px;
  padding: 10px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
#description {
  width: 100%;
  height: 60px;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
}

#imageDescription {
  color: white;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
}
